<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">

                    <img src="{{ 'assets/images/demo/logo-dark.png' | theme }}" alt="Example Navbar 1" class="mr-2" height="30">


                    <!-- <span class="d-none d-md-inline ml-1">Apollo</span> -->
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
        <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
        </div>
    </form>
    <div class="nav-wrapper">
        <ul class="nav flex-column">
            <li class="nav-item" >
                <a class="nav-link active" href="" data-request="onRefreshHome">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="" data-request="onRefreshNewsLetter" >
                    <i class="material-icons">mail</i>
                    <span>Newsletter</span>
                </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link " href="" data-request="onRefreshAddNews">
                        <i class="material-icons">note_add</i>
                        <span>Add News</span>
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="" data-request="onRefreshSubscribe">
                    <i class="material-icons">vertical_split</i>
                    <span>Subscribers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="" data-request="onRefreshAddCollege">
                    <i class="material-icons">view_module</i>
                    <span>Add College</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="" data-request="onRefreshListSearches">
                    <i class="material-icons">table_chart</i>
                    <span>Search Results</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="" data-request="onRefreshListColleges">
                    <i class="material-icons">view_module</i>
                    <span>All Colleges</span>
                </a>
            </li>
        <!--
            <li class="nav-item">
                <a class="nav-link " href="errors.html">
                    <i class="material-icons">error</i>
                    <span>Errors</span>
                </a>
            </li> -->
        </ul>
    </div>
</aside>
