<div style="" id="introduction" class=" introduction container-fluid mb-5 py-5 skewY  ">
    <div class="row justify-content-start py-5">
        <div class="col-sm-2 pl-0">
            <div class="astroHeadContainer image2">
                <img class="astroHead " src="{{ 'assets/images/demo/astroback.png' | theme}}"/>

            </div>
            <img class="astroHeadz flipY" src="{{ 'assets/images/demo/astro.png' | theme}}"/>
        </div>
        <div class="col-sm-1 pl-0">
        </div>
        <div class="col-sm-8 text-center col align-self-right">
            <h1 class="font-weight-bold">Getting to College is hard,<br> Apollo will change that</h1>
            <p class="lead">
                Apollo streamlines the college search/application process into one spot,<br> saving time, money, and effort for students and parents alike
            </p>
        </div>
         <div class="col-sm-1 pl-0">
        </div>
    </div>
</div>
