<div class="subscribe section bg-theme py-4" id="newsletter">
    <div id='stars1'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <h3 class="section-title text-center text-white m-5">Join Apollo Now to Receive <br/> Updates and Newsletters</h3>

    <form class="form-inline d-table mb-5 mx-auto"
        data-request-validate
        data-request-flash
        data-request="Subscribers::onAddSubscriber"
        data-request-success=" $(
                function(){
                    $('#first_name, #last_name, #email').val('')
                }
            )"
    >
        <div class="row">
             <div class="col-sm-6 pl-0">
        <div class="form-group py-2">
            <input class="form-control  mr-sm-1 mb-2 app-input input-left input-width text-white" id="first_name" name="first_name" type="text" placeholder="First Name">
                 </div></div>
                  <div class="col-sm-6 pl-0">
                          <div class="form-group py-2">
            <input class="form-control  ml-sm-1 mb-2 app-input input-right input-width text-white" id="last_name" name="last_name" type="text" placeholder="Last Name">
        </div></div>
                  <div class="col-sm-12 pl-0">
        <div class="form-group justify-content-center py-2">
            <input class="form-control  mr-3 mb-2 app-input mr-sm-0 input-width-full text-white" id="email" name="email" type="text" placeholder="Email address">
        </div>
                              </div>
                  <div class="col-sm-12 pl-0">
        <div class="form-group justify-content-center">
            <button class="btn btn-primary mb-2" style="width: 50%;" data-attach-loading type="submit">Subscribe</button>
        </div>
                 </div>
            </div>
    </form>
        </div>
