<div id="promo" class="container mb-5 mt-5 ">
    <div class="row justify-content-start mb-5 mt-5 py-5">
        <div class="col-sm-8 text-center mb-5 mt-5 col-sm-offset-1 align-self-center">
            <h1 class="font-weight-bold">Your Personal Cap Advisor</h1>
            <p class="lead">
                Apollo tailor itself to your preferences  and choice colleges, get everything you need to get to the college of your dreams!
            </p>
        </div>
        <div class="col-sm-1 pr-0">

        </div>
        <div class="col-sm-3 pr-0">
<img style="width: 350px;" src="{{'assets/images/demo/astro-home.png'|theme}}">
        </div>
    </div>
</div>
