<div id="promo" class="container mb-5 mt-5 ">
    <div class="row justify-content-start mb-5 mt-5">
        <div class="col-sm-12 text-center mb-5 mt-5 col-sm-offset-1 align-self-center">
            <h1 class="font-weight-bold">Dream, Pursue, Succeed</h1>
            
        </div>
        <div class="col-sm-4 text-center mb-5 mt-5 col-sm-offset-1 align-self-center">
           <img style="width: 80px;" src="{{'assets/images/demo/graduation-cap.png'|theme}}">
            <p class="lead">
                With Apollo, you can have confidence in your journey to college!
            </p>
        </div>
        <div class="col-sm-4 text-center mb-5 mt-5 col-sm-offset-1 align-self-center">
            <img style="width: 80px;" src="{{'assets/images/demo/graduate-certificate.png'|theme}}">
 <p class="lead">
                Apollo creates college plans specific to you, So you can receive the best aid possible!
            </p>
        </div>
        <div class="col-sm-4 text-center mb-5 mt-5 col-sm-offset-1 align-self-center">
  <img style="width: 80px;" src="{{'assets/images/demo/smartphone.png'|theme}}">
             <p class="lead">
                Access Apollo at any time on any device whenever you need it!
            </p>
        </div>
        <div class="col-sm-12 text-center mb-5 mt-5 col-sm-offset-1 align-self-center">
           <a href="/how-it-works" class=" btn btn-primary btn-lg btn-pill align-self-center mr-2">
                <i class="fa fa-rocket mr-1"></i> See How it Works
            </a>
            
        </div>
    </div>
</div>
