<style>
.welcome-heading{
    font-size: 5rem !important;
}
</style>
<div style="margin-top: -40px;" class="  ">
<div  class="welcome d-flex justify-content-center bg-theme flex-column ">
    <div class="p p-1"></div>
    <div class="p p-2"></div>
    <div class="p p-3"></div>
    <div id='stars1'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="inner-wrapper mt-auto mb-auto">
        <h1 class="slide-in text-white  welcome-heading">The Perfect College Search <br/>
Companion</h1>
        <!-- Shards --><img src="{{ 'assets/images/demo/astro.png' | theme }}" alt="Astro" class="shard">
        <div class="action-links slide-in">
            <a href="{{'demo'|page }}" style="    outline: 1px solid transparent;" class=" btn btn-primary btn-lg btn-pill align-self-center mr-2">
                <i class="fa fa-rocket mr-1"></i> Try Our Demo
            </a>
        </div>
    </div>
    <div class="product-by">

        <section id="section07" class="demo">
            <a href="#introduction"><span></span><span></span><span></span></a>
        </section>
    </div>
</div>
    </div>
